h1,h2 {
color: #F49BA2;
}

a{
    color: #E01625;
}
p,blockquote,table,ul{
    color: #F4616C;
}

footer{
    color: #963B42;
}

body{
    background: linear-gradient(60deg, #963B42 0%,  #E01625 1%,  #78040D 100%, #F4616C , #F49BA2 );
    margin-left: 25%;
    margin-right: 25%;
    border: solid #F49BA2 10px;
    padding: 40px;
    border-radius: 100px;
}